body {
  padding: 59px;
}

#navbar {
  font-family: Consolas, "Courier New", monospace;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#navbarHeader {
  background-color: #0e8ea8;
  color: #fff;
}

#navbarItem {
  background-color: #83d1e1;
  color: #212529;
}

.nav-link {
  color: #fff;
}

#logo {
  float: left;
  left: 0;
  top: 0;
  padding: 0px;
  margin: 0px;
}

h2 {
  text-align: center;
  font-family: Calibri;
  color: #212529;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

thead {
  background-color: #0e8ea8;
  font-family: Consolas, "Courier New", monospace;
  color: #fff;
}

#staffT {
  background-color: #83d1e1;
  color: #212529;
  font-family: Calibri;
}
#staffT td:hover {
  cursor: pointer;
}

#staffT tr:hover {
  background-color: #0e8ea8;
}

table {
  border-color: #212529;
  border-width: thin;
  text-align: center;
  border-style: solid;
  margin: auto;
}

#scheduleTable {
  position: relative;
  text-align: center;
  background-color: #83d1e1;
}

.button-container {
  display: flex;
}

#staffIn {
  background-color: #198754;
  color: #fff;
  font-family: Consolas, "Courier New", monospace;
  flex: 0 0 auto;
  margin-left: auto;
}

#staffIn:hover {
  background-color: #425d50;
}

#staffOut {
  background-color: #dc3545;
  color: #fff;
  font-family: Consolas, "Courier New", monospace;
  flex: 0 0 auto;
}

#staffOut:hover {
  background-color: #8a4950;
}

#addDelivery {
  background-color: #198754;
  color: #fff;
  font-family: Consolas, "Courier New", monospace;
  float: right;
}

#addDelivery:hover {
  background-color: #425d50;
}
#clearDelivery {
  background-color: #dc3545;
  color: #fff;
  font-family: Consolas, "Courier New", monospace;
  float: right;
}

#clearDelivery:hover {
  background-color: #8a4950;
}
#date {
  text-align: right;
  margin-top: 50px;
}

.selected {
  background-color: #0e8ea8;
}

#deliveryT tr:hover {
  background-color: #0e8ea8;
  cursor: pointer;
}

#deliveryT {
  background-color: #83d1e1;
}

.toast-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.button-container {
  display: flex; 
}